/* CSS files add styling rules to your content */

body {
    font-family: "Open Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
    text-align: center;
}
  
h1 {
  font-style: italic;
  color: #373fff;
}

video {
  width: 360px;
  height: 203px;
}

button {
  margin: 1em;
  padding: 1em;
}

#info {
  text-align: left;
}

#download {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin: auto;
}

/* Dropdown button on hover & focus */
#download:hover, #download:focus {
  background-color: #2980B9;
}

svg {
  vertical-align: middle;
}