/* CSS files add styling rules to your content */

body {
    font-family: "Open Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
    text-align: center;
}
  
h1 {
  font-style: italic;
  color: #373fff;
}

video {
  width: 360px;
  height: 203px;
}

button {
  margin: 1em;
  padding: 1em;
}

a {
  text-decoration: none;
  color: black;
}

#info {
  text-align: left;
}

svg {
  vertical-align: middle;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  font-size: 14px;
}