/* CSS files add styling rules to your content */

body {
    font-family: "Open Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
    text-align: center;
}
  
h1 {
  font-style: italic;
  color: #373fff;
}

video {
  width: 480px;
  height: 360px;
}

button {
  margin: 1em;
  padding: 1em;
}

#info {
  text-align: left;
}