/* CSS files add styling rules to your content */

body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
  }
  
  h1 {
    font-style: italic;
    color: #373fff;
  }
  
  video {
    width: 640px;
    height: 480px;
  }
  
  button {
    margin: 1em;
    padding: 1em;
  }